html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results-list {
  display: flex;
  flex-wrap: wrap;
}

.character-box {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  align-items: center;
  border: 4px solid aliceblue;
  border-radius: 10px;
  background-color: transparent;
  margin: 20px;
  box-shadow: 2px 2px 4px aliceblue;
}

img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
